body {
    max-width: 540px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
/*        background-color: #20242b;
    color: #dde8f8; */
}

.title {
    text-align: center;
    font-size: 30pt;
    padding: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 540px;
}

.navbar {
    width: 100%;
/*        background-color: #2e343f; */
    overflow: auto;
    padding: 10px 0;
}

.navbar a {
    float: left;
    text-decoration: none;
/*        color: #dde8f8; */
/*        color: white; */
    width: 20%;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

