body {
    max-width: 60%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 100px;
    font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 12px;
    
}

footer {
    text-align: center;
}

.title {
    text-align: center;
    font-size: 24pt;
    padding: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}


a {
    text-decoration: none;
    color: #008B8B;
}

a:hover {
    text-decoration: underline;
}

.images {
    text-align: center;
}

.outer-grid {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}
.inner-grid {
   flex: 30%;
   max-width: 80%;
   padding: 0 4px;
}
.inner-grid img {
   margin-top: 8px;
   width: 100%;
}

@media screen and (max-width: 800px) {
   .inner-grid {
      flex: 50%;
      max-width: 50%;
   }
}
@media screen and (max-width: 600px) {
   .inner-grid {
      flex: 100%;
      max-width: 100%;
   }
}
