body {
/*    max-width: 540px; */
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 100px;
    font-family:Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 12px;
    
}

footer {
    text-align: center;
}

.title {
    text-align: center;
    font-size: 24pt;
    padding: 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #008B8B;
}

a:hover {
    text-decoration: underline;
}


.debugger-prompt {
    font-style: italic;
}

.code-view {
    font-weight: bold;
}

.column-left {
    float: left;
    width: 33.333%;
}

.column-right {
    float: right;
    width: 33.333%;
}

.column-center {
    display: inline-block;
    width: 33.333%;
}